$background: rgb(211,212,212);

.installation-content {
  background: $background;

  h3 {
    letter-spacing: 1;
    font-size: 26px;
    margin: 20px 0;
  }

  h5 {
    font-size: 22px;
    margin: 20px 0;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
  }

  .row {
    justify-content: space-between;
    display: flex;
    margin: 8% 0;
  }
  .row img {
    width: 30%;
  }

}

#content {
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 30px;
}

.installation-btn {
  font-size: 1em;
  font-weight: 500;
  padding: 5px 15px;
  border: 3px solid #000;
  background: none;
}

.installation-btn.active {
  color: #fff;
  background: #000;
}
